:root {
  --black: #1D1E24;
  --surface: #23262B;
  --accent: #0090FF;
  --heading: #FCFCFC;
  --body-light: #B5B7BF;
  --body-dark: #93959C;
  --overlay-light: #30323B;
  --border: #33363D;
  --orange: #FF955C;
  --red: #FD7972;
  --yellow: #FFDB6E;
  --blue: #81E3F0;
  --green: #58D786;
  --dark-green: #5BC983;
  --dark-orange: #F5945F;
  --dark-yellow: #F5D36E;
  --dark-red: #F57069;
  --dark-blue: #66D4E3;
  --purple: #B656EB;
  --white: #FFFFFF;
}
